.App-header {
  font-size: calc(10px + 2vmin);
}
#nav {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #e8f1f5;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
}
#nav :hover{
  color: black;
}
#nav a {
  padding: 1px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}
.Welcome-text{
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
#Pictures{
  margin: auto;
  width: 100%;
  /* background: #e8f1f5; */
}
.Welcome-sub{
  font-size: calc(5px + 1vmin);
}
#Pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
  background-color:#FFFAFA;;
}
@media only screen and (max-device-width : 640px) {
  .HomePageInfo{
    background-color: blue;
  }
}

